baseURL = "https://soundportfolio2026.netlify.app/"
languageCode = "en-us"
title = "Sound Portfolio 2026"
theme = "congo"

[build]
  writeStats = true

[outputs]
  home = ["HTML", "RSS", "JSON"]

[markup.goldmark.renderer]
unsafe = true


