[build]
  publish = "public"
  command = "hugo --gc --minify"

[build.environment]
  HUGO_VERSION = "0.152.2"
  HUGO_EXTENDED = "true"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[[scheduled]]
  id = "rss-refresh"
  cron = "0 */3 * * *" # every 3 hours
  command = "hugo --gc --minify"
