{{- partial "functions/warnings.html" .Site -}}
{{- partial "functions/init.html" . -}}
<!doctype html>
<html
  lang="{{- site.Language.LanguageCode | default "" -}}"
  dir="{{- site.Language.LanguageDirection | default "ltr" -}}"
  class="scroll-smooth"
  data-default-appearance="{{- .Site.Params.defaultAppearance | default "light" -}}"
  data-auto-appearance="{{- .Site.Params.autoSwitchAppearance | default "true" -}}"
>
  {{ partial "head.html" . }}

  <body class="bg-neutral-900 text-neutral-200">

    <!-- Custom Broadcast Header -->
    {{ partial "header/basic.html" . }}

    <div class="relative flex flex-col">

      <main id="main-content" class="grow">
        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "footer.html" . }}

      {{ if .Site.Params.enableSearch | default false }}
        {{ partial "search.html" . }}
      {{ end }}
    </div>

  </body>
</html>
