{{ define "main" }}

<!-- HERO TITLE -->
<section class="broadcast-hero">
  {{ partial "home/hero.html" . }}
</section>

<!-- HERO VIDEO -->
<section class="homepage-showreel">
  {{ partial "home/showreel.html" . }}
</section>

<!-- SHORT INTRO -->
<section class="homepage-intro">
  <div class="intro-text">
    <p>
    My work uses sound as a way of shaping place and atmosphere, drawing on field recording, experimental processes, and immersive audio techniques. 
I focus on creating reactive sound environments that support narrative and world-building, often leaving space for ambiguity, tension, and emotional resonance.
    </p>

  </div>
</section>

<!-- FEATURED PROJECTS -->
<section class="homepage-featured">
  {{ partial "home/featured.html" . }}
</section>

<!-- SUBSTACK FEED -->
<section class="homepage-substack">
    {{ partial "home/substack-feed.html" . }}
</section>

{{ end }}
