{{ define "main" }}

<!-- HERO TITLE -->
<section class="broadcast-hero">
  {{ partial "home/hero.html" . }}
</section>

<!-- HERO VIDEO -->
<section class="homepage-showreel">
  {{ partial "home/showreel.html" . }}
</section>

<!-- SHORT INTRO -->
<section class="homepage-intro">
  <div class="intro-text">
    <p>
    Inspired by eerie landscapes and locations, my practice explores the uncanny through immersive audio, field recording, and experimental sound design. I create rich, reactive soundscapes that blend the organic and the digital, aiming to provoke an emotional response while pushing boundaries in both narrative and sonic worlds.
    </p>
    <p>Available for
Film · Games · Animation · Immersive Media Projects · Installations</p>
  </div>
</section>

<!-- FEATURED PROJECTS -->
<section class="homepage-featured">
  {{ partial "home/featured.html" . }}
</section>

<!-- SUBSTACK FEED -->
<section class="homepage-substack">
    {{ partial "home/substack-feed.html" . }}
</section>

{{ end }}
